.flex-column, body, .logo, .banner, .gallery,
.gallery picture, article, .checker label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.font, body, input[type=text], .base-btn, input[type=submit], button {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.base-btn, button, input[type=submit] {
  height: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFFFFF;
  background: linear-gradient(#375486, #1A263B);
  box-shadow: 0px 3px 5px #313131;
  border: none;
}
.base-btn:hover, button:hover, input[type=submit]:hover {
  background: linear-gradient(#5e5924, #294587);
}

input[type=submit] {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

button {
  width: 90%;
  margin-bottom: 1rem;
}

body {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  color: #3B3B3B;
  font-size: 18px;
}

.logo {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 3px solid #B8B781;
  background-color: #FFFFFF;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 250px;
  background-color: #D7D699;
  box-sizing: border-box;
}

.banner {
  width: 280px;
}

.intro {
  background-color: #375486;
  color: #FFFFFF;
  padding: 1rem;
}

.gallery,
.gallery picture {
  margin: 0;
  padding: 1rem;
  padding: 0;
  margin: 0;
}

article {
  width: 280px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
article section {
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  border-top: 3px solid #B8B781;
  background-color: #FFFFFF;
  font-size: 0.9rem;
}

.shabbat-title {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

#shabbat {
  max-width: 25ch;
  margin: auto;
}
#shabbat p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

fieldset, form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 1rem;
}

legend {
  font-weight: 600;
}

input[type=text] {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid #375486;
  border-radius: 5px;
  color: #375486;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.checker {
  width: 100%;
  display: flex;
  justify-content: "start";
  align-items: "center";
  flex-direction: "row";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  gap: 0.5rem;
}
.checker label {
  padding: 0;
  margin: 0;
}
.checker input[type=checkbox] {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  accent-color: #375486;
}

.error {
  color: #B00306;
}

ol {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol li {
  display: flex;
  justify-content: "center";
  align-items: "center";
  flex-direction: row;
}
ol li span {
  font-size: 0.8rem;
  font-style: italic;
}

@media screen and (orientation: landscape) and (min-width: 820px) {
  body {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-direction: row;
  }
  .logo {
    width: 25%;
    padding: 0 1rem;
    height: 100vh;
    height: fit-content;
    border: none;
    position: sticky;
    margin: 0 auto;
    top: 40px;
  }
  main {
    width: 50%;
    border-left: 3px solid #B8B781;
    border-right: 3px solid #B8B781;
  }
  footer {
    width: 25%;
    padding: 0 1rem;
    height: 100vh;
    height: fit-content;
    border: none;
    position: sticky;
    margin: 0 auto;
    top: 40px;
  }
}
@media screen and (min-width: 1000px) {
  article, .banner {
    width: 400px;
  }
  .logo img {
    height: 120px;
  }
}

/*# sourceMappingURL=root.css.map */
