@use '../base/colors';
@use '../base/layout';
@use '../base/font';

// Stilen för formulärfältet.

fieldset, form {
  width: 100%;
  @include layout.flex(center, start, column);
  @include layout.no-margins;
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 1rem;
  margin-top: 2rem;
}

legend {
  font-weight: 600;
}

input[type='text'] {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid colors.$brand-primary;
  border-radius: 5px;
  color: colors.$brand-primary;
  font-size: 18px;
  @extend .font;
  font-weight: 500;
  margin-top: 0.5rem;
}

.checker {
  width: 100%;
  @include layout.flex(start, center, row);
  @include layout.no-margins;
  box-sizing: border-box;
  gap: 0.5rem;
  margin-top: 1rem;

  label {
    @include layout.no-margins;
    @extend .flex-column;
  }

  input[type='checkbox'] {
    @include layout.no-margins;
    width: 30px;
    height: 30px;
    accent-color: colors.$brand-primary;
  }
}

.error {
  color: colors.$brand-text-error;
}