
$brand-primary: #375486;
$brand-primary-variant: #FFFFFF;
$brand-background: #EDEDED;
$brand-secondary: #202F49;
$brand-secondary-variant: #BAC1C4;
$brand-text-dark: #2E2E2E;
$brand-text-light: #FFFFFF;
$brand-text-error: #B00306;

