
$brand-primary: #375486;
$brand-primary-variant: #D7D699;
$brand-secondary: #E6E5C0;
$brand-secondary-variant: #1A263B;
$brand-accent: #B8B781;
$brand-text-dark: #3B3B3B;
$brand-text-light: #FFFFFF;
$brand-background: #FFFFFF;