
$brand-primary: #375486;
$brand-primary-variant: #bcc496;
$brand-secondary: #E6E5C0;
$brand-secondary-variant: #1A263B;
$brand-accent: #a5a485;
$brand-text-dark: #3B3B3B;
$brand-text-light: #FFFFFF;
$brand-text-error: #B00306;
$brand-background: #FFFFFF;
