
@use './base/colors';
@use './base/layout';
@use './base/font';
@use './component/button';
@use './base/motion';
@use './component/progbar';
@use './component/logo';
@use './component/banner';
@use './component/main';
@use './component/card';
@use './component/footer';
@use './component/form';
@use './component/list';
@use './config/config';

body {
  width: 100vw;
  height: 100%;
  @extend .flex-column;
  @include layout.no-margins;
  background-color: colors.$brand-primary-variant;
  color: colors.$brand-text-dark;
  font-size: 18px;
  @extend .font;
}




